# 1. 変数

<br>

ある変数を定義して、それに文字や数値を代入させることができます。

``変数名　= 値``

　<br>

In [2]:
a = 10
print(a)

10

``a``という変数に、``10``という数値を代入しました。  
``print( )``はカッコ内の変数や文字等を表示させる関数です。  
``print(a)``という命令により、``10``が出力されました。

<br>

In [3]:
b = 'TP53'
print(b)

TP53

``TP53``と表示されました。  
文字列を扱う場合は、文字列を**シングルクォーテーション**もしくは**ダブルクォーテーション**で囲みます。  
囲まないと、TP53という変数を意味することになってしまいます。

<br>

In [4]:
c = TP53
print(c)

NameError: name 'TP53' is not defined

``c``に``TP53``を代入し、``c``を表示する命令をしていますが、  
``TP53``はクォーテーションで囲まれていないため、変数として扱われます。  
しかし、変数``TP53``は定義されていませんので、エラーが出力されます。  

<br>

---

文字列と数値は異なる型として扱われます。  
型を調べるには`type( )`関数を使用します。

In [5]:
type(a)

int

In [6]:
type(b)

str

`int`は**整数**、`str`は**文字列**です。  
型によって取り扱い方が異なってくるため、変数を扱う場合には、常に型を意識しておく必要があります。  

例えば、二つの変数を`+`で処理した場合、数値では足し算をしてくれますが、文字列では二つの文字列をつなげる処理になります。

In [7]:
a = 1
b = 2
print(a + b)

3

`a`と`b`は整数なので、足し算をした`3`が出力されます。

<br>

In [8]:
a = '1'
b = '2'
print(a + b)

12

`a`と`b`は文字列なので、二つの文字列をつなげた`12`が出力されます。

<br>

文字列の型を持っている数字を、整数に変換する場合は、`int( )`を使います。

In [9]:
a = '1'
b = '2'
print('文字列', a + b)
print('整数', int(a) + int(b))

文字列 12
整数 3

**小数**の場合は`float`という型になります。

In [10]:
a = 1.005
print(type(a))

<class 'float'>

小数に変換する場合は`float( )`関数を使用します。

In [11]:
a = '1.005'
print(a, type(a))

b = float(a)
print(b, type(b))

1.005 <class 'str'>
1.005 <class 'float'>

`int( )`は整数に変換する関数なので、小数と思われる文字列を整数に変換しようとするとエラーになります。

In [12]:
a = '1.005'
b = int(a)

ValueError: invalid literal for int() with base 10: '1.005'

小数に`int( )`を使うと、整数に変換されます。

In [13]:
a = 1.005
b = int(a)
print(b)

1

文字列と数値をつなげようとすると、型が異なるのでエラーとなります。

In [14]:
a = 'TP'
b = 53
print(a + b)

TypeError: can only concatenate str (not "int") to str

`str( )`関数で文字列に変換するとつなげることができます。

In [15]:
a = 'TP'
b = 53
print(a + str(b))

TP53